---
title: Home
layout: page
bodyClass: page
---

<div class="container">
  <div class="row" style="margin-Top:20px !important">

    <div class="mobile-feature-image col-md-12">
      <img src="{{site.baseurl}}/assets/images/nivarti_homepage.jpg" />
    </div>
    <div class="mobile-home-page-section col-md-12">
      <h1 class='mobile-home-page-name'>Nivarti Jayaram</h1>
      <p class="mobile-home-page-text">Service Veteran &#9672; Executive and Career Coach &#9672; International Conference Speaker &#9672; UN Peacekeeper &#9672; Mentor</p>
      <p class="mobile-home-page-icon-bar">
        <a href="https://www.linkedin.com/in/nivartijayaram/" target="_blank"><span class="fab fa-linkedin" /></a>
        <a href="https://www.youtube.com/channel/UCEOJuyPLqcRKombwdG4yclg" target="_blank"><span class="fab fa-youtube" /></a>
        <a href="https://www.instagram.com/nivarti_jayaram/?hl=en" target="_blank"><span class="fab fa-instagram" /></a>
        <a href="https://twitter.com/NivartiJayaram" target="_blank"><span class="fab fa-twitter" /></a>
        <a href="https://www.facebook.com/nivarti.jayaram" target="_blank"><span class="fab fa-facebook" /></a>
      </p>
      <p class="mobile-home-page-button-bar">
        <a href="{{site.baseurl}}/#bio" onClick="document.querySelector('#bio').scrollIntoView({ behavior: 'smooth' });" class="button">Learn More</a> &nbsp;
        <a href="{{site.baseurl}}/contact" class="button">Get in Touch</a>
      </p>

    </div>



    <div class="col home-page-section col-md-6 ">
      <p class="home-page-icon-bar">
        <a href="https://www.linkedin.com/in/nivartijayaram/" target="_blank"><span class="fab fa-linkedin" /></a>
        <a href="https://www.youtube.com/channel/UCEOJuyPLqcRKombwdG4yclg" target="_blank"><span class="fab fa-youtube" /></a>
        <a href="https://www.instagram.com/nivarti_jayaram/?hl=en" target="_blank"><span class="fab fa-instagram" /></a>
        <a href="https://twitter.com/NivartiJayaram" target="_blank"><span class="fab fa-twitter" /></a>
        <a href="https://www.facebook.com/nivarti.jayaram" target="_blank"><span class="fab fa-facebook" /></a>
      </p>
      <h1 class='home-page-name'>Nivarti Jayaram</h1>
      <p class="home-page-text" style="padding-top:9px;">Service Veteran &#9672; Executive and Career Coach &#9672; International Conference Speaker &#9672; UN Peacekeeper &#9672; Mentor</p>


      <p class="home-page-button-bar">
        <a href="{{site.baseurl}}/#bio" onClick="document.querySelector('#bio').scrollIntoView({ behavior: 'smooth' });" class="button">&nbsp; Learn More &nbsp; </a> &nbsp;
        <a href="{{site.baseurl}}/contact" class="button"> &nbsp; &nbsp; Get in Touch &nbsp; &nbsp; </a>
      </p>



    </div>

    <div class="col portfolio-image col-md-6 pt-5">
      <img src="{{site.baseurl}}/assets/images/nivarti_homepage.jpg" />
    </div>

  </div>
</div>

<div class="container about pr-6 pl-6 pt-2 pb-1 " id="bio">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">My Mission</h1>

  </div>
  <div class="row">
    <div class="col-md-12 xs-1">
      <p align="center"><i>Delivering great customer experiences through transforming organizations and maximize people potential through coaching</i></p>
    </div>
    <div class="col-md-12 xs-1" align="center" style="vertical-align:middle;">
      <a href="{{site.baseurl}}/contact" class="round-button">Get in Touch</a>
    </div>
  </div>
</div>

<div class="container about pr-6 pl-6 pt-6 pb-6 " id="bio">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">Nivarti - A Quick Intro</h1>

  </div>
  <div class="row">
    <div class="col-md-12 xs-1">
      <p>I am an expert at Enterprise Transformation covering people, product, process & technology helping them not just succeed but thrive in the VUCA world. I am passionate about people helping them in enhancing Self-awareness & Presence in people
        so they can identify and realize their full potential. <p>
          <p>An ICF Accredited Leadership & Career Transformation Coach, Service Veteran and an UN Peacekeeper, I believe agility is a state of mind, transformation never a destination but a continuous and an ongoing journey. I promote a culture of
            "being dispensable" through identifying right talent & building capability to create sustainability in organizations.</p>
          <p align="center"><img class="unlearning-image" src="{{site.baseurl}}/assets/images/unlearning.png"/></p>
          <p>I believe for everything that we learn newly in life, there’s something that needs to be unlearnt & my forthcoming book Unlearning – Your learning is never complete without it reflects my transformation journey.</p>

    </div>
    <div class="col-md-12 xs-1" align="center" style="vertical-align:middle;">
      <a href="{{site.baseurl}}/about" class="round-button">Know More</a>
    </div>
  </div>
</div>


<div class="container about pr-6 pl-6 pt-6 pb-6 " id="bio">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">What am I passionate about?</h1>

  </div>
  <div class="row">
    <div class="col-md-12 xs-1">
      <p>I am passionate about coaching Executives & Senior Leaders within the organization, Mentoring Scrum Masters and Agile Coaches to enhance their skillsets and first time speakers in improving their public speaking & presentation skills.</p>
      <p>I have conceptualized, developed & delivered
        <ul>
          <li>“Leader as a Coach” program for Executive & Senior leadership transformation to build the ability to lead teams across diverse generational workforce and develop transformational mindset.</li>
          <li>“Accountability to Ownership” program to help organizations build high performing teams</li>
          <li>Workshops on organizational strategy & objectives definition for Group Executives of Central Functions as well as Infrastructure Division of Societe Generale</li>
          <li>Workshops on Innovation Idea Generation for Finance Directorate division of Societe Generale</li>
          <li>Workshops for Senior Executives on “Five dysfunctions of a team” to increase collaboration and collective group mindset</li>
        </ul>
      </p>
      <p>I have contributed to the course curation & content development for DevOps Coach program by DevOps Agile Skills Association (DASA)</p>

    </div>
    <div class="col-md-12 xs-1" align="center" style="vertical-align:middle;">
      <a href="{{site.baseurl}}/about#testimonials" class="round-button">See Testimonials</a>
    </div>
  </div>
</div>

<div class="container about pr-6 pl-6 pt-6 pb-6">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">Professional Association</h1>
  </div>
  <div class="row">
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/6.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/7.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/8.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/9.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/10.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/11.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/12.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/13.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/14.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/17.png" />
    </div>

  </div>
</div>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
  window.dojoRequire(["mojo/signup-forms/Loader"], function(L) {
    L.start({
      "baseUrl": "mc.us4.list-manage.com",
      "uuid": "5d7d393576b0c0c8a0d802b41",
      "lid": "0177261292",
      "uniqueMethods": true
    })
  })
</script>


<!--
    <div class="col home-page-section col-md-6" align="center" style="vertical-align:middle;">
      <h1 class='pb-2'>Nivarti Jayaram</h1>
      <div class="container flexwraprow" >
      <div class="card">&#9672; ICF Accredited Coach </div>
      <div class="card">&#9672; Service Veteran </div>
      <div class="card">&#9672; Career Coach </div>
      <div class="card">&#9672; UN Peace Keeper </div>
      <div class="card" style="width:100%">&#9672; Leadership Transformation Coach </div>
      </div>

        <div style="display:flex; margin-top:30px;">
          <a href="{{site.baseurl}}/about" class="button stretch" >Learn More</a> &nbsp;
          <a href="{{site.baseurl}}/contact" class="button stretch"> &nbsp; Contact &nbsp; </a>
        </div>


    </div>

<div class="col portfolio-image col-md-6 pt-5">
  <img src="{{site.baseurl}}/assets/images/nivarti_homepage.jpg"/>
</div>
-->

<!--
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">My Services</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div>
<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
        <div> bleh bleh </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

-->
