---
title: Testimonials
layout: default
bodyClass: page-testimonials-list
---
<div class="container about pt-6 pl-6 pr-6">
  <div class="row heading">
    <h1 class="service-title" align="center">Testimonials</h1>
  </div>
  <div class="row">
    {% for testimonial in site.data.testimonials %}
    <div class="feature">
      {% if testimonial.image %}<div class="feature-image"><img alt="{{ testimonial.name }} logo" src="{{ testimonial.image }}" /></div> {% endif %}
      <h2 class="feature-title">{{ testimonial.name }}</h2>
      <div class="feature-content">{{ testimonial.jobtitle }}, {{testimonial.org}}</div>
      <div> {{testimonial.text}} </div>
    </div>
    {% endfor %}
  </div>
</div>
