---
title: Writing
layout: page
bodyClass: page
---
<div class="container about  featurecontainer pt-5 pr-2 pl-2">
  <div class="row heading">
    <h1 class="service-title" align="center">Nivarti's Writings</h1>
  </div>
  <div class="row">
    <a align="center" href="{{site.baseurl}}/contact" class="round-button" >Subscribe</a>
  </div>
  <div class="row">
    {% for blog in site.data.blogs %}
    <div class="feature col-sm-8 xs-1 mb-1">
      {% if blog.image %}<div class="blog-image"><img alt="{{ blog.title }}" src="{{ blog.image }}" /></div> {% endif %}
      <h2 class="blog-title"><a href="{{blog.url}}" target="_blank">{{ blog.title }}</a></h2>
      <div class="blog-content">
        <p align="left">{{blog.excerpt}} | <a href="{{blog.url}}" target="_blank">Read more...</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
