---
title: About Nivarti
layout: page
bodyClass: page-services-list
---
<div class="container about pt-6 pl-6 pr-6">

  <div class="row">

    <div class="col-md-4 xs-1 about-image pb-2" vertical-align="middle">
      <img src="{{site.baseurl}}/assets/images/nivarti_homepage.jpg" />
    </div>
    <div class="col-md-8 xs-1">
      <p>Nivarti is an ICF Accredited Career & Leadership Transformation Coach, Service Veteran and an UN Peace Keeper with over 30 Years of experience across Industry sectors.
      </p>
      <p>Nivarti believes agility is a state of mind, transformation never a destination but a continuous and an ongoing journey. A continuous unlearner, Nivarti believes unlearning is a significant ingredient to sustain transformation whether it is
        personal or organizational.
      </p>
      <p>Nivarti promotes a culture of "being dispensable" through identifying right talent & building capability to create sustainability in organizations.</p>
    </div>
  </div>
</div>
</div>

<div class="container about pr-6 pl-6 pt-6 pb-6 ">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">Certifications</h1>
  </div>
  <div class="row" vertical-align="middle">
    <div class="col-sm-1 org-logo card-columns">
    </div>
    <div class="col-sm-1 org-logo">
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/1.png" />
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/2.png" />
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/3.png" />
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/4.png" />
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/5.png" />
    </div>
    <div class="col-sm-1 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/6.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/certifications/7.png" />
    </div>
  </div>
</div>

<div class="container about pr-6 pl-6 pt-6 pb-6">
  <div class="row heading" align="center">
    <h1 align="center" class="service-title">Professional Association</h1>
  </div>
  <div class="row">
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/1.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/2.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/3.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/4.png" />
    </div>
    <div class="col-sm-2 org-logo">
      <img src="{{site.baseurl}}/assets/images/orgs/5.png" />
    </div>
  </div>
</div>

<div class="container featurecontainer pt-5">
  <div class="row heading">
    <h1 class="service-title" align="center">Testimonials</h1>
  </div>
  <div class="row">
    {% for testimonial in site.data.testimonials %}
    <div class="feature col-sm-4 xs-1 mb-1 ml-1 mr-1">
      {% if testimonial.image %}<div class="feature-image"><img alt="{{ testimonial.name }} logo" src="{{ testimonial.image }}" /></div> {% endif %}
      <h2 class="feature-title">{{ testimonial.name }}</h2>
      <div class="feature-content"><p><strong>{{ testimonial.jobtitle }}, {{testimonial.org}}</strong></p>
        <hr/>
      <p align="center">{{testimonial.text}}</p></div>
    </div>
    {% endfor %}
  </div>
</div>
